In [ ]:
a = int(input())
b = int(input())
c = int(input())

o = (a+b)/c

In [ ]:
print(o)

In [ ]:
c = 5+6j

In [ ]:
o1 = o+c

In [ ]:
print(o1)

In [ ]:
print(str(o1) + "hari")

## condition statement

In [ ]:
a = int(input("input a numbrr"))
if a <34:
    print("the number is less than 34")
elif a<100:
    print("the number is less than 100")
else:
    print("the number is greater than 100")

In [ ]:
salary = int(input("Enter your Salary: "))
if salary > 1000:
    print("I will buy a car")
    if salary < 5000:
        print("i will go for Nano Car")
    elif salary < 10000:
        print("i will go for Swift")
    elif salary < 50000:
        print("i will go for Honda City")
    else:
        print("i will rent a car")
elif salary > 500:
    print("I will buy a bike")
elif salary > 100:
    print("I will not buy anything")
else:
    print("I will start saving")

In [ ]:
a = 10
b = 20

if a==10 and b>20:
    print("this is a valid statement")
elif a==10 and b<20:
    print("the state is valid inside elif")
else:
    print("condition is not valid")

In [ ]:
firstname = input()
lastname = input()

In [ ]:
if firstname == "hari" and lastname == "sudhan":
    print("The name is correct")
elif firstname == "Hari" and lastname == "Sudhan":
    print("Correct, But the first letter is in uppercase")
else:
    print("The name is wrong")

## while loop

In [ ]:
initial_speed = 0
final_speed = 100
count = 1

while initial_speed < final_speed:
    print("This is normal speed")
    count = count+1
    if count == 5:
        break

In [ ]:
i = 1
j = 5
while i<j:
    print(i)
    i += 1

In [ ]:
notes = 5
i = 1
j = 1
while i < notes:
    print("I is: ",i)
    i += 1
else:
    while j<2:
        print("J is: ",j)
        j = j + 1
    print("no 10 rs notes are available")

## List

In [ ]:
alpha = 'abcdefghijklmnopqrstu'

In [ ]:
alpha

In [ ]:
alpha[3:10]

In [ ]:
alpha[3:10:2]

In [ ]:
alpha[10:2:-1]

In [ ]:
alpha[::-1]

In [ ]:
alpha[2:-6]

## for loop

In [ ]:
alpha

In [ ]:
for x in alpha:
    if x == "d":
        continue
    print(x)
else:
    if x=="u":
        print("the last char is u")
    print("this is a else condition")

In [ ]:
s = "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]
print(ss)

## nested for loop

In [ ]:
n = 7
for i in range(n):
    for j in range(0, i+1):
        print("+ ", end="")
    print("\r")

In [ ]:
# exercise 2:
n = 5
k = 2*n - 2
for i in range(n,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k = k +1
    for j in range(0, i+1):
        print("* ", end="")
    print("\r")

In [ ]:
# exercise 3:
n = 5
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

In [ ]:
# exercise 4:
n = 9
i = 0
while i < n:
    print(" " * (n-i-1) + "* "*(i+1))
    i += 1

In [ ]:
i = 1
k = 1 #for printing starts with the increment of 2

while i<=5:
    b = 1
    while b<=5-i:
        print(' ', end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k = k+2
    
    i = i+1

In [ ]:
for i in range(0, 10, 2):
    print(i)

In [ ]:
l = ["sudh", 934234, "ashok nagar", True, 3+7j, [1,2,3,"abc"], 5.7]

In [ ]:
l[0]

In [ ]:
type(l)

In [ ]:
for i in l:
    print(type(i))

In [ ]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

In [ ]:
for i in l:
    if type(i) == list:
        n = 0
        for j in i:
            if type(j) == int:
                n = n + j
        print(n)
        print(type(j))

In [ ]:
list(range(10))

## String and List

In [ ]:
a = 'Ha\'ri'
a

In [ ]:
s = 'this is full stack class'

In [ ]:
s[-1:-10:-1]

In [ ]:
for i in s:
    print(i)

In [ ]:
"sudh " + "kumar"

In [ ]:
"sudh" + "3"

In [ ]:
"sudh" + str(3)

In [ ]:
"sudh" + ["kumar", 2, 4,5]

In [ ]:
"sudh" * 6

In [ ]:
s = 'my name is'

In [ ]:
s.capitalize()

In [ ]:
s.find('y')

In [ ]:
s.find('f')

In [ ]:
for i in range(len(s[2:6])):
    print(s.find(s[i]))

In [ ]:
b = s.find('name')
for i in range(len("name")):
    print(b + i)

In [ ]:
s.count('m')

In [ ]:
s.count('name')

In [ ]:
s = 'my name is sudhanshu kumar , Name of org is ineuron'

In [ ]:
s.split()

In [ ]:
s.split(',')

In [ ]:
s.split('na')

In [ ]:
type(s.split('na'))

In [ ]:
s

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.swapcase()

In [ ]:
" ".join(s)

In [ ]:
reversed(s)

In [ ]:
for i in reversed(s):
    print(i)

In [ ]:
s[::-1]

In [ ]:
s = '    sudh    '

In [ ]:
s.strip()

In [ ]:
s = "      su dh      "

In [ ]:
s.strip()

In [ ]:
s.lstrip()

In [ ]:
s.rstrip()

In [ ]:
s = "greeting from ineuron"

In [ ]:
s.replace("g", "s")

In [ ]:
s

In [ ]:
s = "sudh"

In [ ]:
s.center(20, '#')

In [ ]:
s = 'sudh\tku\tmar'

In [ ]:
s

In [ ]:
s.expandtabs()

In [ ]:
a = "we all are a part of Full Stack"

In [ ]:
# normalise all string into lower case
print(a.lower())

# find no. of occurence of "a" in entire data
occurence = a.count('a')
print(occurence) 

# find all the location / index of "a" in string
for i in range(len(a)):
    if a[i] == 'a':
        print(i)

# replace all the "a" with "iNeuron"
print(a.replace("a","iNeuron"))
# print all the words as list
print(a.split())

In [ ]:
s = "sudh"

In [ ]:
s.isupper()

In [ ]:
s.islower()

In [ ]:
s.isspace()

In [ ]:
s = " "
s.isspace()

In [ ]:
s = '123'
s.isdigit()

In [ ]:
s = 'socks'
s.endswith('s')

In [ ]:
s.startswith('s')

In [ ]:
s.isalnum()

In [ ]:
s.isalpha()

In [ ]:
s = "Sudh"
s.istitle() #title means first character upper case

In [ ]:
s = "this is a full stack batch"

In [ ]:
count = 0
for i in s:
    count += 1
print(count)

In [ ]:
for i in range(len(s)):
    print(s[-i])

In [ ]:
s = 'sudh'
ch = len(s) - 1
while ch>=0:
    print(s[ch])
    ch = ch-1

In [ ]:
name = "ineuron"
vowels = 'AaEeIiOoUu'

for i in name:
    if i in vowels:
        print('{} is a vowel'.format(i))
    else:
        print('{} is not a vowel'.format(i))

In [ ]:
"{} name is sudh".format("my")

In [ ]:
"{} name {} sudh".format("my", 'is')

In [ ]:
a = input()
b = input()

In [ ]:
"{} name {} sudh".format(a, b)

In [ ]:
s = input("enter a data for palindrome: ")
s1 = s[::-1]
if s == s1:
    print("its a palidrome")
else:
    print("its not")

## List

In [ ]:
l = ["sudh", 34, 34, 54]

In [ ]:
l

In [ ]:
l[3]

In [ ]:
l[0:3]

In [ ]:
l[3:0:-1]

In [ ]:
l

In [ ]:
s = 'sudh'
s = list(s)
s

In [ ]:
l + s

In [ ]:
s = ['sudh']

In [ ]:
l + s

In [ ]:
l*2

In [ ]:
len(l)

In [ ]:
'sudh' in l

In [ ]:
l = ['sudh', 12, 2.4, True, ["python", "JS", "AWS"]]

In [ ]:
for i in l:
    if type(i) is list:
        print("this is a list", i)
    else:
        print("this is not a list", i)

In [ ]:
print(max([2,3,4,5]))

In [ ]:
max('a','b','c','d','e')

In [ ]:
l = [1,2,3,4]

In [ ]:
l.append("hari")

In [ ]:
l

In [ ]:
l.append("sudhan")

In [ ]:
l.insert(3, 'developer')

In [ ]:
l

In [ ]:
l.insert(-1, "test")

In [ ]:
l

In [ ]:
l.count("test")

In [ ]:
l = [1,2,3,4]

In [ ]:
l.append('sudh')

In [ ]:
l

In [ ]:
l.append([1,2,3,4])

In [ ]:
l

In [ ]:
l.extend("test1")

In [ ]:
l

In [ ]:
s = "test"
list(s)

In [ ]:
l = [1,2,3,4]
l

In [ ]:
l.extend([5,6,7])

In [ ]:
l

In [ ]:
l.index(3)

In [ ]:
l.pop()

In [ ]:
l

In [ ]:
l.pop(0)

In [ ]:
l

In [ ]:
l.remove(4)

In [ ]:
l

In [ ]:
l.reverse()

In [ ]:
l

In [ ]:
l.sort()

In [ ]:
l

In [ ]:
l = [3,4,5,6,7,'sudh','ineuron']

In [ ]:
l.sort() #sorting won't work if int and string are present together

In [ ]:
l = [3,4,5,6,7]
l.sort()

In [ ]:
l

In [ ]:
l = []
for i in range(5):
    l.append(int(input()))
print(l)

In [ ]:
input()

In [ ]:
list(input())

In [ ]:
#2. Find the index of string element in the nested list and remove the string

l = [[1,2,3], [11,12,'b','b','b'],[21,'t',224],[4,5,6],[6,7,8],'demo',12.5]

for i in l:
    if type(i) == list:
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("Index of string {} is :".format(i[j]),j)
            j = j + 1
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print("The string in the nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j = j+1
print("List after removal of string from nested list is\r",l,'\n')

l

# List Comprehension

In [ ]:
l1 = []

In [ ]:
for i in 'sudh':
    l1.append(i)

In [ ]:
l1

In [ ]:
[i for i in 'sudh']

In [ ]:
l = []
for i in range(10):
    if i%2 == 0:
        l.append(i)

In [ ]:
l

In [ ]:
[i for i in range(10) if i%2==0 ]

In [ ]:
l = []
for i in range(10):
    if i%2 != 0:
        l.append("odd")
    else:
        l.append("even")
print(l)

In [ ]:
["odd" if i%2 !=0 else "even" for i in range(10) ]

In [ ]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

In [ ]:
[ [j for j in range(3)] for i in range(3) ]

In [ ]:
[i for i in range(8) if i%2==0 if i%3==0]

In [ ]:
l = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
["yes" if i==1 else "no" if i==2 else 'test' for i in l]

In [ ]:
res = []
for i in l:
    if i == 1:
        res.append("yes")
    elif i==2:
        res.append("no")
    else:
        res.append("test")
print(res)

# Tuples

In [ ]:
t = ()

In [ ]:
type(t)

In [ ]:
l = []
type(l)

In [ ]:
t1 = (2,5,"sudh", 3.14, True)

In [ ]:
l1 = [2,5,"sudh", 3.14, True]

In [ ]:
t1[2]

In [ ]:
t1[::-1]

In [ ]:
l1[0] = 'kumar'

In [ ]:
l1

In [ ]:
t1[0] = 'dsfdfd'

In [ ]:
t2 = (23, 54, 12)

In [ ]:
t1 + t2

In [ ]:
t2 * 4

In [ ]:
5 in t1

In [ ]:
23 in t1

In [ ]:
max(t2)

In [ ]:
t4 = ('x','y','z')

In [ ]:
max(t4)

In [ ]:
t4.index('y')

In [ ]:
t4.count('z')

In [ ]:
l5 = list(t1)

In [ ]:
l5

In [ ]:
t5 = 56

In [ ]:
l5.insert(3,t5)

In [ ]:
tuple(l5)

In [ ]:
t = ((2,3,4,5), ("sdfd", 45,45), ("454",54), 45, 454, 67, [4,5,6,7,8])

In [ ]:
t[6][1]

In [ ]:
t[6][1:4]

In [ ]:
for i in t:
    print(i)

In [ ]:
for i in t:
    if type(i)== tuple:
        print(i[0])

In [ ]:
t1 = (234, 34, 'sudh', 2.53, 34, 34, 34, True)

In [ ]:
t2 = (234, 54, 565)

In [ ]:
if len(t1) == len(t2):
    print("the length is same")
else:
    print("not same")

In [ ]:
t = (234, 34, 'sudh', 2.45, 34, 34, 34, True, 'kumar')

In [ ]:
i = input("take a user input")

if i in t:
    print("yes your name is available")
else:
    print("your name is not available")

In [ ]:
l1 = ['kumar', 34, 'sudh', 2.45, True]

In [ ]:
del(t)

In [ ]:
t

In [ ]:
del(l1)

In [ ]:
l1

# Set

In [5]:
x = set()

In [6]:
type(x)

set

In [11]:
l = [23, 34, 34, 34, 45, 34, 45, 78, "sudh", 'sudh', 'Sudh', 'kumar']

In [12]:
s = set(l)

In [13]:
s

{23, 34, 45, 78, 'Sudh', 'kumar', 'sudh'}

In [9]:
for i in s:
    print(i)

34
45
78
sudh
23
Sudh
kumar

In [ ]:
34 in s

In [ ]:
s[0]

In [10]:
s = set()
s

set()

In [ ]:
s.add(45)

In [ ]:
s.add('sudh')

In [ ]:
s.add('kumar')

In [ ]:
s.add([234, 434])

In [ ]:
s

In [ ]:
s.add(45)

In [ ]:
s.remove(45)

In [ ]:
s

In [ ]:
s.clear()

In [ ]:
s

In [ ]:
s.add('sdfsd')

In [ ]:
s.add(234)

In [ ]:
s.add(345)

In [ ]:
s.add('wer')

In [ ]:
s

In [ ]:
s1 = set(l)

In [ ]:
l

In [ ]:
s1

In [ ]:
s + s1

In [ ]:
s * 4

In [ ]:
s

In [ ]:
l4 = list(s)

In [ ]:
l4.append(234)

In [ ]:
l4

In [ ]:
t4 = tuple(s)

In [ ]:
set(t4)

# Dictionary

In [ ]:
x = {}

In [ ]:
type(x)

In [ ]:
x1 = {2, 3}

In [ ]:
type(x1)

In [ ]:
x = {'name':"sudh", 'age': 26}

In [ ]:
x3 = {4:'wer', 'k3': [2,3,4]}

In [ ]:
x4 = {'k3': 'fsdfs'}

In [ ]:
x3 + x4

In [ ]:
x3 * 3

In [ ]:
x3['k3'] = 345

In [ ]:
x3

In [ ]:
x3['k3'] -= 10

In [ ]:
x3

In [ ]:
x3.keys()

In [ ]:
'k3' in x3.keys()

In [ ]:
x3.keys()

In [ ]:
for i in x3:
    print(i)

In [ ]:
x3

In [ ]:
for i in x3.keys():
    print(x3[i])

In [ ]:
for i in x3.keys():
    print(type(x3[i]))

In [ ]:
x3.items()

In [ ]:
for i in x3.items():
    print(i[1])

In [ ]:
x5 = {(2,3,4):'abc'}

In [ ]:
x5[(2,3,4)]

In [ ]:
len(x3)

In [2]:
input1 = input()

When the first digital computers appeared in the early 1940s,[4] the instructions to make them operate were wired into the machine. Practitioners quickly realized that this design was not flexible and came up with the "stored program architecture" or von Neumann architecture. Thus the division between "hardware" and "software" began with abstraction being used to deal with the complexity of computing.

In [3]:
list1 = input1.split()

In [4]:
list1

['When',
 'the',
 'first',
 'digital',
 'computers',
 'appeared',
 'in',
 'the',
 'early',
 '1940s,[4]',
 'the',
 'instructions',
 'to',
 'make',
 'them',
 'operate',
 'were',
 'wired',
 'into',
 'the',
 'machine.',
 'Practitioners',
 'quickly',
 'realized',
 'that',
 'this',
 'design',
 'was',
 'not',
 'flexible',
 'and',
 'came',
 'up',
 'with',
 'the',
 '"stored',
 'program',
 'architecture"',
 'or',
 'von',
 'Neumann',
 'architecture.',
 'Thus',
 'the',
 'division',
 'between',
 '"hardware"',
 'and',
 '"software"',
 'began',
 'with',
 'abstraction',
 'being',
 'used',
 'to',
 'deal',
 'with',
 'the',
 'complexity',
 'of',
 'computing.']

In [16]:
len(list1)

61

In [17]:
no_dup = set(list1)

In [18]:
no_dup

{'"hardware"',
 '"software"',
 '"stored',
 '1940s,[4]',
 'Neumann',
 'Practitioners',
 'Thus',
 'When',
 'abstraction',
 'and',
 'appeared',
 'architecture"',
 'architecture.',
 'began',
 'being',
 'between',
 'came',
 'complexity',
 'computers',
 'computing.',
 'deal',
 'design',
 'digital',
 'division',
 'early',
 'first',
 'flexible',
 'in',
 'instructions',
 'into',
 'machine.',
 'make',
 'not',
 'of',
 'operate',
 'or',
 'program',
 'quickly',
 'realized',
 'that',
 'the',
 'them',
 'this',
 'to',
 'up',
 'used',
 'von',
 'was',
 'were',
 'wired',
 'with'}

In [19]:
len(no_dup)

51

In [26]:
dic = {}
for i in no_dup:
    dic[i]="hari"

In [27]:
dic

{'first': 'hari',
 'abstraction': 'hari',
 'in': 'hari',
 'Practitioners': 'hari',
 'up': 'hari',
 '"software"': 'hari',
 'make': 'hari',
 'operate': 'hari',
 'deal': 'hari',
 'design': 'hari',
 'early': 'hari',
 'came': 'hari',
 'the': 'hari',
 'with': 'hari',
 'digital': 'hari',
 'architecture"': 'hari',
 'quickly': 'hari',
 'architecture.': 'hari',
 'and': 'hari',
 'or': 'hari',
 'flexible': 'hari',
 'not': 'hari',
 'complexity': 'hari',
 'instructions': 'hari',
 '1940s,[4]': 'hari',
 '"hardware"': 'hari',
 'that': 'hari',
 'division': 'hari',
 'was': 'hari',
 'von': 'hari',
 'being': 'hari',
 'used': 'hari',
 'were': 'hari',
 'this': 'hari',
 'of': 'hari',
 'program': 'hari',
 '"stored': 'hari',
 'to': 'hari',
 'computing.': 'hari',
 'appeared': 'hari',
 'into': 'hari',
 'wired': 'hari',
 'Thus': 'hari',
 'them': 'hari',
 'began': 'hari',
 'realized': 'hari',
 'between': 'hari',
 'When': 'hari',
 'machine.': 'hari',
 'Neumann': 'hari',
 'computers': 'hari'}

In [29]:
tup_list = []
for i in dic.keys():
    tup_list.append(dic[i])

print("Tuple List: ", tuple(tup_list))

Tuple List:  ('hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari', 'hari')

In [31]:
key_list = []
for i in dic.keys():
    key_list.append(i)
    
print(key_list)

['first', 'abstraction', 'in', 'Practitioners', 'up', '"software"', 'make', 'operate', 'deal', 'design', 'early', 'came', 'the', 'with', 'digital', 'architecture"', 'quickly', 'architecture.', 'and', 'or', 'flexible', 'not', 'complexity', 'instructions', '1940s,[4]', '"hardware"', 'that', 'division', 'was', 'von', 'being', 'used', 'were', 'this', 'of', 'program', '"stored', 'to', 'computing.', 'appeared', 'into', 'wired', 'Thus', 'them', 'began', 'realized', 'between', 'When', 'machine.', 'Neumann', 'computers']

In [34]:
# Easy approach to solve above task

paragraph = input('Enter the para:')
lst1 = paragraph.split(" ")
s1 = set(lst1)
dic1 = dict.fromkeys(s1, 'hari')
t1 = tuple(dic1.keys())
l2 = list(dic1.values())

Enter the para:abc abc abc sss sss sss

In [35]:
lst1

['abc', 'abc', 'abc', 'sss', 'sss', 'sss']

In [36]:
s1

{'abc', 'sss'}

In [37]:
dic1

{'abc': 'hari', 'sss': 'hari'}

In [38]:
t1

('abc', 'sss')

In [39]:
l2

['hari', 'hari']

In [51]:
d = {'company':'ineuron', 'course': 'full stack', 'year': 2021}

In [52]:
for i in d:
    print("Print a key:  ", i, " ; ", "value wise:  ", d[i])

Print a key:   company  ;  value wise:   ineuron
Print a key:   course  ;  value wise:   full stack
Print a key:   year  ;  value wise:   2021

In [53]:
'course' in d

True

In [54]:
for i in d:
    if i == 'year':
        if d[i] > 2021:
            print("year is fine")
        else:
            d[i] = 2022

In [55]:
d

{'company': 'ineuron', 'course': 'full stack', 'year': 2022}

In [61]:
for i in d:
    if type(d[i]) == str:
        i = d[i].split(" ")

In [62]:
d

{'company': 'ineuron', 'course': 'full stack', 'year': 2022}

In [63]:
dic = {}
for i in range(5):
    dic[i] = i**2

In [64]:
dic

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [65]:
{ i: i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [67]:
{ i: i**2 for i in range(0,10,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}